<% @notifications_limit.each do |notification| %>
  <%= render notification %>
<% end %>
<li class="divider"></li>
<li>
  <strong><%= link_to "All Notifications", admin_notifications_path , class: "all-button, fa fa-inbox " %></strong>
</li>
