<strong><h1>USER Decentralization</h1></strong>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Describe Decentralization</th>
      <th>Number of accounts</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @decentralizations %>
  </tbody>
</table>
