<%= render "shared/left" %>
<div class="panel panel-container">
  <div class="row">
    <div class="col-md-12">
      <h1>Logs</h1>
      <% @activity_logs.each do |activity_log| %>
        <li>
          <%= render "activity_log", activity_log: activity_log %>
        </li>
        <%= link_to t("button_laybels.delete"), activity_log, method: :delete  %>
      <% end%>
      <li class="divider"></li>
    </div>
  </div>
</div>
