<%= render "shared/left" %>
<div class="panel panel-container">
  <div class="row">
    <div class="col-md-12">
      <h1>Logs</h1>
      <% @logs.each do |log| %>
        <li>
          <%= render log %>
        </li>
        <%= link_to t("button_laybels.delete"), log, method: :delete  %>
      <% end%>
      <li class="divider"></li>
    </div>
  </div>
</div>
