<%= render "shared/left"%>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render @user, _name: @user.name, _email: @user.email, _password: @user.password, _password_confirmation: @user.password_confirmation, name: t("text.name"), email: t("text.email"), password: t("text.password"), password_confirmation: t("text.password_confirm"), avatar: t("text.avatar"), header: t("button_labels.update")%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

