<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <h1><%= t("text.followers") %></h1>
      <div>
        <%= render @support.followers(@user) %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("button_labels.close")%></button>
    </div>
  </div>
</div>

