<div class="col-md-3">
  <div>
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar, class: "img-circle, imagefriend"%>
    <% else %>
      <%= image_tag " ", class: "img-circle, profile-userpic, imagefriend"%>
    <% end %>
    <div class="profile-usertitle-name"><%=link_to user.name, user_path(user)%></div>
    <% if user.status == true %>
      <div class="profile-usertitle-status">
        <span class="indicator label-success"></span>Online
      </div>
    <% else %>
      <div class="profile-usertitle-status">
        <span class="badge"></span>Offline
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
