<%= render "shared/left"%>
<div>
  <h1>ALL USERS</h1>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name , user_path(user) %> -
      <%= link_to t("button_labels.edit"), edit_user_path(user) %> -
      <%= link_to t("button_labels.delete") , user, method: :delete, data: {confirm: t("text.confirm")} %>
    </li>
  <% end %>
</div>
