<div class="modal fade" id="editpostType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for [:admin, post_type] do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, placeholder: post_type.name %>
            </div>
          <%= f.submit "Update", class: "btn" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
