<div class="panel panel-container">
  <div class="row">
    <div class="col-md-12">
      <h1>Logs</h1>
      <%= paginate @activity_logs %>
      <hr>
      <% @activity_logs.each do |activity_log| %>
        <li class="list">
          <%= render "activity_log", activity_log: activity_log %>
        </li>
        <%= link_to t("button_laybels.delete"), activity_log, method: :delete  %>
        <hr>
      <% end%>
      <%= paginate @activity_logs %>
    </div>
  </div>
</div>
