  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel-heading" style="text-align: center;">
          <strong>Detail Report</strong>
        </div>
          <div class="panel-body">
            <textarea>
              <%= report.content %>
            </textarea>
          </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

