<div class="col-sm-12">
  <p class="back-link">Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a></p>
  <%= link_to  t("button_labels.language_en"), locale:"en" %>
  <%= link_to t("button_labels.language_vi"), locale:"vi" %>
</div>
