<div class="col-sm-10">
  <p class="back-link">
    <a href="https://www.medialoot.com">Phuong Thao</a><br>
    <%= link_to  t("button_labels.language_en"), locale:"en" %> /
    <%= link_to t("button_labels.language_vi"), locale:"vi" %>
  </p>
</div>
