<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Sun Blog", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-top-links navbar-right">
      <% if log_in? %>
        <li><%= link_to t("button_labels.sign_up") , sign_up_path %></li>
        <% else %>
        <li><%= link_to t("button_labels.sign_in") , sign_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
